id_rsa
# Latex Junk

**.log
**.aux
**.fdb_latexmk
**.fls
**.synctex.gz
**.bbl
**.blg

**.DS_Store
**.ipynb_checkpoints/

**/outputs

**.idea/

__pycache__/

**.dump
**.pickle
**.csv
**.zip
experiments/experiments/furong-debug-run.py

experiments/experiments/test-simplex.py
*.tex
*.ipynb
